*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.navColour nav{
    background-color: rgb(8, 59, 30);
}

.navColour2 nav{
    background-color: white;
}

li{
    margin-right: 60px;
}

.navColour .borderActive{
    border-top: 3px solid white !important;
    font-weight: 1000 !important;
}

.navColour .borderNav{
    font-size: 20px;
    color: white !important;
    font-weight: 500;
    border-top: 3px solid rgb(8, 59, 30);
}

.navColour2 .nav-link{
    font-size: 20px;
    color: rgb(8, 59, 30) !important;
}

.navbar-nav{
    text-align: right;
    margin-right: 20px;
}

.navColour .borderNav:hover{
    font-weight: 1000;
    border-top: 3px solid white !important;
    transition: 0.3s ease-in;
}

.navColour form{
    font-weight: 1000;
    border-top: 3px solid rgb(8, 59, 30);
}

.navColour2 .nav-link:hover{
    font-weight: 1000;
}

.navColour2Divider{
    border-left: 1px solid rgb(8, 59, 30);
}

.wallpaper{
    background-image: url(./../img/bg1.png);
}

.wallpaper .informace{
    padding-top: 20px;
    font-size: 20px;
}

.wallpaper a{
    text-decoration: none;
    color: inherit;
}

.wallpaper a:hover{
    color: #218149;
    font-weight: 700;
}

.author{
    font-size: 30px;
}

.author span{
    margin-left: 10px;
}

@media only screen and (max-width: 1000px){
    .navColour .borderNav:hover{
        border-top: 3px solid rgb(8, 59, 30) !important;
    }

    .navColour .borderActive{
        border-top: 3px solid rgb(8, 59, 30) !important;
        font-weight: 5000 !important;
    }
}

.container-fluid h1{
    color: rgb(8, 59, 30) !important;
    font-weight: 700;
}

.container-fluid .obsahSekce{
    margin-left: 30px;
}

.container-fluid .ikonka{
    font-size: 25px;
}

.container-fluid .nadpis{
    font-size: 30px;
}
